#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fefae0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 
/* Generella stilar */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefae0;
 }
 
 /* Huvudlayout */
 .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
 }
 
 /* Typografi */
 h1, h2, h3, h4, h5, h6 {
  color: #333;
 }
 
 /* Knappar */
 button {
  background-color: #ccd5ae;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
 }
 
 
 button:hover {
  background-color: #d4a373;
 }
 
 /* Produkter */
 
 .product-card img {
  width: 100%;
  height: auto;
 }
 
 .product-card h2 {
  margin-top: 20px;
 }
 
 .product-card p {
  color: #666;
 }
 
 /* Responsiv design */
 @media screen and (max-width: 768px) {
  .container {
     padding: 10px;
  }
 
  .product-card {
     margin: 10px;
  }
 }
 


 .products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Skapar två kolumner med lika bredd */
  grid-gap: 20px; /* Lägger till utrymme mellan produkterna */
  padding: 20px; /* Lägger till utrymme runt rutnätet */
 }
 
 .product-card {
  background-color: #e9edc9;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .product-card:hover {
  transform: scale(1.05);
 }

 .product-card img {
 width: 100%;
 height: auto;
 border-radius: 10px;
}

.product-card h2 {
  margin-top: 20px;
  font-size: 1.5em;
 }

 .product-card p {
  color: #666;
  font-size: 1em;
 }
 
 .product-card img {
  width: 100%;
  height: auto;
 }
 
 .product-card h2 {
  margin-top: 20px;
 }
 
 .product-card p {
  color: #666;
 }
 


 .products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; /* Lägger till utrymme mellan produkterna */
  padding: 20px; /* Lägger till utrymme runt rutnätet */
 }

 .navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ccd5ae;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 
 .nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
 }
 
 .nav-links li {
  list-style: none;
 }
 
 .payment-link {

  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 10px;
 }

 .payment-link :hover {
  background-color: #d4a373;
  color: #fff;
  padding: 10px;
  transition: 0.3s ease, color 0.2s ease;
 }
 
 @media (max-width: 768px) {
  .nav-links {
     flex-direction: column;
     gap: 0.5rem;
  }
 }
 
 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
 }
 
 nav ul li a {
  text-decoration: none;
  padding: 10px;
 }
 
 nav ul li a:hover {
  background-color: #d4a373;
  color: #fff;
 }
 

 @media screen and (max-width: 768px) {
  .container {
     padding: 10px;
  }
 
  .product-card {
     margin: 10px;
  }
 
  .products-grid {
     grid-template-columns: 1fr;
  }
 }

 